body{
	margin: 0;
	padding: 0;
	font-family: verdana,helvetica,arial,sans-serif;
	/*
	background: transparent;
	background: #FFFFFF;
	background: url("../../img/leftpanel.png") no-repeat 0px 0px;*/
	background: #D9E2DD;
}
.cameraststus{
	font-size: 16px;
	color: #000000;
	background: transparent;
}
/*
20120307  julia rename cameraststus-->cameraststus_16
and add new cameraststus_12  for multi language 
*/
.cameraststus_16{ 
	font-size: 12px;
	color: #777777;
	text-align: left;
}
.cameraststus_14{ 
	font-size: 14px;
	color: #FFFFFF;
}
.cameraststus_12{
	font-size: 12px;
	color: #FFFFFF;
}
.subCameratxt_a{
	width: 60px;
	font-size: 20px;
	text-align:center;
	color: #0A0B0B;
	background: #FFFFFF;
}

.subCameratxt_n{
	width: 60px;
	font-size: 20px;
	text-align:center;
	color: #FFFFFF;
}

.subCameratxt_o{
	width: 60px;
	font-size: 20px;
	text-align:center;
	color: #29A4E0;
}
.menutxt_n{
	width: 244px;
	height: 43px;
	line-height: 60px;
	font-size: 18px;
	color: #777777;
	text-align:center;
	line-height: 43px;
	/*background: url(../../img/menu/button01.png) no-repeat;*/
	cursor: pointer;
}
.menutxt_o{
	width: 244px;
	height: 43px;
	line-height: 60px;
	font-size: 18px;
	color: #777777;
	text-align:center;
	line-height: 43px;
	/*background: url(../../img/menu/button01.png) no-repeat;*/
	cursor: pointer;
}
.menutxt_a{
	width: 244px;
	height: 43px;
	line-height: 56px;
	font-size: 18px;
	color: #3D8E82;
	text-align:center;
	background: url(../../img/menu/select_a.png) no-repeat;
	line-height: 43px;
	/*
	border-style: solid;
	border-color: #9ACD32;
	border-width: thin;
    */
	cursor: pointer;
}
td.repeat
{
    background-repeat:no-repeat;    
    
}