body
{
    /*
	font-size: 16px;
	margin: 0;
	padding: 0;
	font-weight: bolder;
	background-color: #EFEFEF;
	*/
	/*-moz-user-select:none;*/
	/*background-color: #FFFFFF;*/
	width: 1491px;
	height: 896px;
	margin: 0;
	padding: 0;
	background-color: #EFEFEF;
}
div.base{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
}
div.backFrm{
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
}
div.menuFrm{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 117px;
	width: 100%;
	z-index: 8;
	text-align: left;
	background-image: url("../../img/menu/topbar.png");
	background-repeat: repeat-x;
	/*background: url("../../img/89871-web1.png") no-repeat 0px 0px;*/
	/*-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/89871-web1.png',sizingMethod='scale')";*/
}
.setupFrm{
	position: absolute;
	left: 244px;
	top: 117px;
	width: 1247px;
	height: 779px;
	z-index: 12;
	background: url(../../img/backgrond-thin.png) no-repeat;
	background-color: #EFEFEF;
}
.subMenuFrm{
	position: absolute;
	left: 0px;
	top: 117px;
	width: 244px;
	height: 779px;
	z-index: 10;
}
div.appletDivcss{
	position: absolute;
	top: 120px;
	left: 244px;
	z-index: 12;
	width: 1247px;
	height: 779px;
	
}