body{
	font-family: verdana,helvetica,arial,sans-serif;
	/*
	font-size: 16px;
	*/
	margin: 0;
	padding: 0;
	/*font-weight: bolder;
	-moz-user-select: none;*/		/*for FF*/
	background: transparent;
}
div.ClientFrame{
	position: absolute;
	left: 141px;
	top: 88px;
	height: 725px;
	/*
    width: 1106px;
    bbackground-color: #EFEFEF;
	ackground: transparent;
	/*filter: 'alpha(opacity=50)';
	filter:alpha(opacity=50);
    
	text-align: center;
    */
}
.ClientFrame td{
	height: 30px;
}
div.searchLogFrm{
	position: relative;
	visibility: hidden;
	width: 750px;
	height: 460px;
	top: 0px;
	left: 100px;
	z-index: 8;
}
div.applyFrm{
	position: absolute;
	left: 800px;
	top: 530px;
	width: 200px;
	height: 40px;
	margin: 5px;
	z-index: 10;
	text-align: -moz-center;
	text-align: center;
}
div.grayMask{
	position: absolute;
	top: 50px;
	width: 1220px;
	height: 779px;
	position:relative;
	z-index: 8;
}
div.ScreenMask
{
width:1247px;
height:779px;
top: 0px;
left: 0px;
position: absolute;
background-color: #FFFFFF;
z-index: 90;
filter: alpha(opacity=80);
opacity: 0.8;
visibility: hidden;
}
.td_center{
	text-align: center;
	font-size: 17px;
	color: #65A097;
}
.td_center_Sel{
	text-align: center;
	font-size: 17px;
	color: #FFFFFF;
	background-color: #0066FF;
}
.txtRight{
	text-align: right;
	font-size: 17px;
	color: #65A097;
}
.txtLeft{
	text-align: left;
	font-size: 17px;
	color: #65A097;
	/*color: #666;*/
	/*filter: Shadow(Color=#808080, Direction=120, Strength=1);*/
	/*filter:shadow(color=#666666, direction=135, strength=1) progid:DXImageTransform.Microsoft.Blur(pixelRadius=2, direction=135) DISPLAY: block;*/
}
.txtCenter{
	text-align: center;
	font-size: 17px;
	color: #65A097;
}
.ptz_txtCenter{
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
}
.thumbTxt{
	text-align: center;
	font-size: 20px;
	color: #000000;
}
.fieldsetStyle{
	border: 1px solid #466963;
}
.legStyle{
	font-size: 17px; 
	color: #65A097;
}
.Webdings{
	font-family: Webdings;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	cursor: pointer;
}
.Webdings_n{
	font-family: Webdings;
	font-size: 24px;
	font-weight: bold;
	color: #000000;
}
.Webdings_a{
	font-family: Webdings;
	font-size: 24px;
	font-weight: bold;
	color: #409FFF;
}
.Webdings_g{
	font-family: Webdings;
	font-size: 24px;
	font-weight: bold;
	color: #7F7F7F;
}
input.btnStyle{
	background-color: #696969;
	color: #FFFFFF;
	/*height: 24px;*/
	font-size: 12px;
}
.rec_list{
	font-size: 14px;
	/*color: #FFFFFF;*/
	text-align: center;
}
.rec_list_tr{
	/*background-color: #000000;*/
}
.rec_list_tr_over{
	/*background-color: #0000FF;*/
}
.rec_list_tr_sel{
	background-color: #CCCCCC;
}
/*Common*/
.pageBlack {
    overflow: hidden;
    font-size: 9pt;
}

.pageBlack ul {
    list-style: none;
    padding: 2px 0;
    line-height: 16px;
}

.pageBlack li {
    display: inline;
}
/*CSS black style pagination*/
.pageBlack {
	padding: 3px;
	text-align:left;
	color:#a0a0a0;
	font-size:80%;
}

.pageBlack .aUrl {
	border: 1px solid #909090;
	margin-right:3px;
	padding:2px 5px;
	text-decoration: none;
	color: #c0c0c0;
	cursor: default;
}

.pageBlack .aUrl_hover{
	border: 1px solid #f0f0f0;
	margin-right:3px;
	padding:2px 5px;
	background-color:#404040;
	text-decoration: underline;
	color: #ffffff;
	cursor: pointer;
}
.pageBlack li.current {
	margin-right:3px;
	padding:2px 5px;
	border: 1px solid #ffffff;
	font-weight: bold;
	background-color: #606060;
	color: #ffffff;
}

.pageBlack li.disabled {
	margin-right:3px;
	padding:2px 5px;
	border: 1px solid #606060;
	color: #A9A9A9;
}
.tr_normal{
	cursor: default;
	background: transparent;
}
.tr_hover{
	cursor: pointer;
	background-color: #0000FF;
}
.tr_sel{
	cursor: default;
	background-color: #CCCCCC;
}
select {
   width: 100px;
   /*height: 34px;*/
   overflow: hidden;
   background-color: #696969;
   color: #FFFFFF;
   border-style: solid;
}
input[type="text"] {
    background-color: #696969;
    color: #FFFFFF;
    font-size: 12px;
    border-style: solid;
}
input[type="password"] {
    background-color: #696969;
    color: #FFFFFF;
}
.detectionFrm{
	position: absolute;
	left: 630px;
	top: 300px;
	height: 40px;
	margin: 5px;
	z-index: 10;
	text-align: -moz-center;
	text-align: center;
}

.td_left{
	text-align: left;
}
.parameterFrm{
	position: absolute;
	left: 700px;
	top: 740px;
	margin: 5px;
	z-index: 10;
	text-align: -moz-center;
	text-align: center;
}
button.delete{
	background-color: #696969;
	color: #FFFFFF;
	height: 20px;
}
.advButton
{
    width:30px;
    background-color:#B22222;
    font-size:large;
    color: #FFFFFF;
    
}
.advMButton
{
    width:40px;
    font-size:large;
    background-color:#B22222;  
    color: #FFFFFF;  
}
div.AutoSearchFrame{
	position: absolute;
	left: 65px;
	top: 88px;
	width: 1106px;
	height: 725px;
	/*
    bbackground-color: #EFEFEF;
	ackground: transparent;
	/*filter: 'alpha(opacity=50)';
	filter:alpha(opacity=50);
    */
	text-align: center;
}
div.IPCamClientFrame{
	position: absolute;
	left: 141px;
	top: 88px;
	width: 1050px;
	height: 650px;
	/*
    bbackground-color: #EFEFEF;
	ackground: transparent;
	/*filter: 'alpha(opacity=50)';
	filter:alpha(opacity=50);
    */
	text-align: center;
}

div.IPcamSetting
{
    position: relative;
	top: 40px;
	width: 1000px;
	height: 600px;
	z-index:10;
}
tr.oddcolor
{
    background-color:#CCCCCC;    
}
tr.selectcolor
{
    background-color:#EEEE00; 
}
input.noborder_odd
{
    border-bottom-style:none; 
    border-left-style:none;
    border-right:none;
    border-top:none;   
    background-color:#CCCCCC;
    font-size: 18px;
    color: #000000;
}
input.noborder
{
    border-bottom-style:none; 
    border-left-style:none;
    border-right:none;
    border-top:none;
    background-color:#FFFFFF;
    font-size: 18px;
    color: #000000;
}
input.textInput{
    background-color: #696969;
    color: #FFFFFF;
}
/*
input[type="text"]:focus  
{
color: yellow;
}*/